#wrapper{
	margin: auto;
	padding: 10px 20px;
	background-color: #abbda5;
	box-shadow: 0 0 10px 2px #333333;
    border: 1px solid grey;
}
img{
    margin-right: 10px;
    vertical-align: middle;
    max-width: 100%;
    width: 200px;
}
li{
    width: 595px;
    padding: 10px;
	margin-bottom: 5px;
	font-size: 14px;
	border: 1px solid #000000;
    list-style-type:none;
}
.text{
    width: 200px;
    margin-right: 10px;
	vertical-align: middle;
    color: #209da6;
    text-transform: uppercase;
}

